.section-about {
    background-color: $color-gray-200;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-black, 0.8),
            rgba($color-gray-900, 0.8)
        ),
        url("/assets/images/background2.jpg");
    background-size: cover;
    margin-top: -10rem;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    // we can use that way by skew it or by

    // clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20%);
}

.section-corporations {
    background-color: $color-gray-200;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}
.section-managers {
    padding: 15rem 0;
    background-color: $color-gray-200;
}
