.header {
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-black, 0.8),
            rgba($color-gray-900, 0.8)
        ),
        url("/assets/images/background.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 10rem;
        transition: transform 2s;

        &:hover {
            transform: scale(1.3);
        }
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__menu-box {
        color: $color-white;
        position: absolute;
        top: 4rem;
        right: 4rem;
    }
}
