// Colors
$color-green-Light: #55c57a;
$color-green: #7ed56f;
$color-green-dark: #28b485;
$color-green-dark2: #198754;
$color-teal: #20c997;
$color-yellow: #ffc107;
$color-orange-Light: #f5be00;
$color-orange: #fa9c05;
$color-blue: #0d6efd;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #d63384;
$color-red: #dc3545;
$color-cyan: #0dcaf0;
$color-gray: #777;
$color-white: #fff;
$color-black: #000;

$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;

$color-green-100: #D1E7DD;
$color-green-200: #A3CFBB;
$color-green-300: #75B798;
$color-green-400: #479F76;
$color-green-500: #198754;
$color-green-600: #146C43;
$color-green-700: #0F5132;
$color-green-800: #0A3622;
$color-green-900: #051B11;

$color-blue-100: #CFE2FF;
$color-blue-200: #9EC5FE;
$color-blue-300: #6EA8FE;
$color-blue-400: #3D8BFD;
$color-blue-500: #0D6EFD;
$color-blue-600: #0A58CA;
$color-blue-700: #084298;
$color-blue-800: #052C65;
$color-blue-900: #031633;

$color-orange-100: #FFE5D0;
$color-orange-200: #FECBA1;
$color-orange-300: #FEB272;
$color-orange-400: #FD9843;
$color-orange-500: #FD7E14;
$color-orange-600: #CA6510;
$color-orange-700: #984C0C;
$color-orange-800: #653208;
$color-orange-900: #331904;

$color-orange-100: #FFF3CD;
$color-orange-200: #FFE69C;
$color-orange-300: #FFDA6A;
$color-orange-400: #FFCD39;
$color-orange-500: #FFC107;
$color-orange-600: #CC9A06;
$color-orange-700: #997404;
$color-orange-800: #664D03;
$color-orange-900: #332701;

$color-red-100: #F8D7DA;
$color-red-200: #F1AEB5;
$color-red-300: #EA868F;
$color-red-400: #E35D6A;
$color-red-500: #DC3545;
$color-red-600: #B02A37;
$color-red-700: #842029;
$color-red-800: #58151C;
$color-red-900: #2C0B0E;


$color-ramz-primary: #ffb900;
$color-ramz-secondary: #ff7730;
$color-ramz-tertiary: #ff4c00;

$color-volt-primary: #010648;
$color-volt-secondary: #18D000;
$color-volt-tertiary: #E8E8E8;


$color-fannoun-primary: #AA2D29;
$color-fannoun-secondary: #242021;
$color-fannoun-tertiary: #FFFFFF;

$color-card-1-primary: #108DF2;
$color-card-1-secondary: #5233FF;




// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;